<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'HTML'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'CSS'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'JS'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Angular'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'TeamWork'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Github'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#8D0CFA'"
      [innerStrokeColor]="'#D5A3FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <h1>Idiomas</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Ingles'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00C1FF'"
      [innerStrokeColor]="'#A3E9FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Aleman'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00C1FF'"
      [innerStrokeColor]="'#A3E9FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [title]="'Italiano'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00C1FF'"
      [innerStrokeColor]="'#A3E9FF'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>

</div>
