<div class="row">
  <h1>Educación</h1>

  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Institución 1</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo magnam illum eveniet cupiditate, vitae unde sed hic est! Delectus quia officiis in quod quidem eum consequatur. Optio autem aspernatur eaque.
      </p>
      <li>
        <h1>Institución 1</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo magnam illum eveniet cupiditate, vitae unde sed hic est! Delectus quia officiis in quod quidem eum consequatur. Optio autem aspernatur eaque.
      </p>
      <li>
        <h1>Institución 1</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo magnam illum eveniet cupiditate, vitae unde sed hic est! Delectus quia officiis in quod quidem eum consequatur. Optio autem aspernatur eaque.
      </p>
    </ul>
  </div>
</div>
