
<div class="row">

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Img/Pelirroji.jpg" alt="fotoperfil" class="img-fluid" id="fotoperfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <p id="nombre">Carla Yanina Aldana</p>
     <p>Full Stack Developer Jr</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
      <h1>Acerca de mi</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error illum quia necessitatibus ex ducimus id provident maiores at, natus accusamus recusandae praesentium. Veniam, quas odio? Repellendus non voluptatem magni est!</p>
    </span>
  </div>

</div>


